.btn{
    font-size: 1.1em;
    padding: 0.5rem;
    display: block !important;
    margin: 0 auto;
    margin-bottom: 1.3rem;
    border: none ;
    color: white;
    border-radius: 25px;
    background-color: #a47dff;
    top: 0;
    transition: all ease 0.5s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    position: relative;
}
.btn:hover,
.btn:active{
   top: -10px;
   background-color: #976ef9
}